body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header section */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.search-bar {
    flex-grow: 1;
    margin-left: 20px;
    max-width: 300px;
}

.search-bar input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.menu-buttons {
    display: flex;
    gap: 15px;
}

.menu-buttons button {
    background-color: #da5227;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.menu-buttons button:hover {
    background-color: #b34420;
}

.auth-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auth-section img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
}

.auth-section button {
    background-color: #da5227;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.auth-section button:hover {
    background-color: #b34420;
}

/*Slideshow section*/
.slideshow {
    position: relative;
    max-width: 100%;
    height: 60vh;
    margin: 0 auto;
    overflow: hidden;
   
}

.slides {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300%;
    animation: slideAnimation 24s infinite;
    gap: 0;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
}

@keyframes slideAnimation {
    0%, 25% { transform: translateY(0); }
    33%, 58% { transform: translateY(-100%); }
    66%, 91% { transform: translateY(-200%); }
    100% { transform: translateY(0); }
}

/* Recent Activity section */

.recent-activity-header {
    font-size: 24px;
    text-align: center;
    margin: 20px 0; /* Adds space above and below the header */
    color: #333; /* Adjust color as desired */
}

.recent-activity {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 100px; /* Space between squares */
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; /* Center the grid */
}

.square {
    background-color: #a0a0a0; /* Medium gray color */
    width: 200px;
    height: 200px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.square::before {
    content: "";
    display: block;
    padding-top: 100%; /* Maintain aspect ratio for square */
}

.square div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}